@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
}

.top-bar {
    background-color: #1CA8C7;
    color: white;
    font-size: 12px;
}

.top-bar-container {
    width: 1370px;
    margin: 0 auto;
    display: flex;
    height: 40px;
}

.dropdown-menu a {
    color: white;
    text-decoration: none;
    margin-right: 10px;
}

.top-bar_item,
.header_logo,
.header-icons {
    padding-left: 15px;
}

.top-bar_item svg {
    width: 16px;
    height: 16px;
    color: white;
    fill: white;
}

.contact-link {
    position: relative;
}

.contact-link+.contact-link::before {
    content: '';
    display: inline-block;
    width: 1px;
    height: 15px;
    background: #fff;
    opacity: 0.3;
    margin: 0 10px;
    vertical-align: middle;
}

.btn-dropdown {
    text-transform: capitalize;
    background: transparent;
    color: #ffffff;
    display: flex;
    padding: 0;
    margin-left: 18px;
    border: none;
    align-items: center;
    line-height: 20px;
    font-size: 100%;
}

.btn-dropdown svg {
    width: 8px;
    margin-left: 5px;
}

.social-icons::before {
    content: '';
    display: inline-block;
    width: 1px;
    height: 15px;
    background: #fff;
    opacity: 0.3;
    margin: 0 15px;
    vertical-align: middle;
}

.social-icons a {
    margin: 0 10px;
    color: white;
    display: flex;
    justify-content: center;
}

.social-icons a svg {
    fill: #ffffff;
    display: inline-block;
    vertical-align: middle;
    margin: 0 auto;
    border: none;
    width: 14px;
    height: 14px;
    transition: all 0.3s ease;
}

.social-icons a svg:hover {
    transform: translateY(-5px);
    fill: #d6522b;
}

.header {
    width: 100%;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    font-family: 'Poppins', sans-serif
}


.header-container {
    width: 1370px;
    margin: 0 auto;
    height: 80px;
    align-items: center;
}

.header_logo_img {
    margin: 0 auto;
    width: 100%;
    max-width: 100px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.header_nav {
    padding-left: 15px;
    padding-right: 15px;
}

.nav_ul {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav_ul_link {
    color: #000000;
    padding: 5px calc(0.5 * 34px);
    text-transform: none;
    font-weight: 500;
    font-size: 12px;
    transition: all .2s;
}

.nav_ul_link span {
    position: absolute;
    color: #fff;
    font-size: 10px;
    padding: 1px 7px;
    border-radius: 50px;
    top: 50%;
    line-height: 16px;
    background: #34c134;
    transform: translateY(-50%);
    right: 0;
    margin-top: -15px;
    transition: opacity .3s ease-in-out;
    opacity: 1;
}

.sub-menu {
    display: block;
    margin-top: 28px;
    left: 0 !important;
    position: absolute;
    box-shadow: 1px 1px 3px #0000004d;
    background-color: #fff;
    width: 100%;
    z-index: 101;
    visibility: hidden;
    opacity: 0;
}

.demo-page {
    width: 1230px;
    height: auto;
    padding: 20px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

.sub-menu_item {
    margin: 0 auto;
    margin-top: 10px;
    text-align: center;
    transition: transform 0.3s ease;
    max-width: 140px;
    height: auto;
}

.sub-menu_item:hover {
    transform: translateY(-5px);
}

.sub-menu_item img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.sub-menu_item a {
    color: #333;
    font-size: 14px;
    font-weight: 500;
    display: block;
}

.sub-menu_item a:hover {
    color: #0ec1ae;
}

.nav_ul_item:hover .sub-menu {
    opacity: 1;
    visibility: visible;
    animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}


.nav_ul_item a:hover {
    color: #0ec1ae;
}

.header-icons {
    min-width: 210px;
}

.list-icons {
    margin: 0 8px;
}

.icon-search,
.icon-account {
    padding: 0 8px;
}

.icon-wishlist,
.icon-cart {
    padding: 0 11px;
}

.icon-wrapper .icon {
    color: #000000;
    line-height: 1;
    vertical-align: middle;
    transition: .35s cubic-bezier(.25, .1, .25, 1);
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-wrapper:hover .icon {
    transform: scale(1.15);
}

.badge {
    width: 17px;
    height: 17px;
    letter-spacing: 0;
    font-weight: 400;
    font-size: 10px;
    line-height: 17px;
    box-shadow: 1px 1px 3px #0000004d;
    opacity: 1;
    transition: .3s ease-in-out;
    background-color: #000000;
    color: #ffffff;
    text-align: center;
    border-radius: 50%;
    top: -9px;
    right: -17px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel {
    width: 100%;
    height: 100vh;
}

.carousel-cell {
    width: 100%;
    height: 100vh;
}

.banner {
    position: relative;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    display: flex;
    align-items: center;
}

.banner-content {
    color: #000;
    margin-left: 5%;
    max-width: 500px;
}

.banner-content h1 {
    font-size: 4rem;
    font-weight: 500;
    margin-bottom: 20px;
    line-height: 1.2;
}

.shop-link {
    display: inline-block;
    font-size: 1rem;
    color: #333;
    text-decoration: none;
    border-bottom: 2px solid #333;
    margin-bottom: 30px;
}

.price {
    margin-top: 60px;
    font-size: 1rem;
    color: #000;
}

.price span {
    margin-left: 20px;
}

.flickity-page-dots {
    display: none;
}

@keyframes slideDown {
    from {
        opacity: 0;
        transform: translateY(-50px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideLeft {
    from {
        opacity: 0;
        transform: translateX(-50px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideUp {
    from {
        opacity: 0;
        transform: translateY(50px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.slide-down {
    animation: slideDown 1s ease-out forwards;
    animation-delay: 0.3s;
    opacity: 0;
}

.slide-left {
    animation: slideLeft 1s ease-out forwards;
    animation-delay: 0.6s;
    opacity: 0;
}

.slide-up {
    animation: slideUp 1s ease-out forwards;
    animation-delay: 0.9s;
    opacity: 0;
}

.main-container {
    width: 1440px;
    margin-right: auto;
    margin-left: auto;
}
.service-features {
    height: 180px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
}
.feature-box {
    display: flex;
    padding-left: 15px;
    padding-right: 15px;
}
.feature-text h4 {
    font-size: 16px;
    color: #222222;
    font-weight: 500;
    margin-bottom: 4px;
}
.feature-text p {
    font-size: 14px;
    margin-bottom: 0;
    color: #878787  ;
    line-height: 24px;
}
.feature-icon {
    width: 59px;
    height: 59px;
    min-width: 59px;
    min-height: 59px;
    margin-right: 20px;
    transition: all 0.5s ease;
}

.feature-icon:hover {
    animation: bounceIn 0.6s ease-in-out forwards;
    animation-iteration-count: 1;
}

@keyframes bounceIn {
    0% {
        opacity: 0;
        transform: scale3d(1, 1, 1);
    }

    20% {
        transform: scale3d(1.1, 1.1, 1.1);
    }

    40% {
        transform: scale3d(0.9, 0.9, 0.9);
    }

    60% {
        transform: scale3d(1.03, 1.03, 1.03);
    }

    80% {
        transform: scale3d(0.97, 0.97, 0.97);
    }

    100% {
        transform: scale3d(1, 1, 1);
    }
}

.left-section {
    flex: 1;
}
.left-section h1 {
    font-size: 34px;
    line-height: 40px;
    font-weight: 400;
    color: #ccc;
    margin: 0;
}
.left-section h1 span {
    color: #000;
}
.view-all-btn {
    margin-top: 30px;
    padding: 10px 60px;
    border: 1px solid #000;
    color: #222222;
    background: none;
    font-size: 14px;
}
.carousell-section {
    flex: 4;
}
.carousell {
    width: 100%;
}
.carousel-celll {
    width: 295px;
    display: flex;
    padding-left: 15px;
    padding-right: 15px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    
}
.carousel-celll img {
    width: 100%;
    height: 340px;
    object-fit: cover;
}
.carousel-celll a {
    position: relative;
}
.carousel-celll a p {
    min-width: 204px;
    min-height: 44px;
    position: absolute;
    background-color: #fff;
    color: #222222;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0;
    right: 0;
    transition: all .3s;
}
.carousel-celll a p:hover {
    background-color: #f5f5f5;
}
.flickity-button {
    width: 35px !important;
    height: 35px !important;
    box-shadow: 0 2px 10px #3636361f;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    background: #fff !important;
    transition: all 0.2s;
}
.flickity-button-icon {
    width: 9px !important;
    height: 9px !important;
    position: static !important;
    transform: none !important;
    top: auto !important;
    left: auto !important;
}
.flickity-button:hover {
    background: #0ec1ae !important;
}
.flickity-button:hover svg {
    fill: #ffffff;
}
footer {
    background-color: #fff;
    padding-top: 48px;
}
.footer-icon {
    width: 24px;
    height: 24px;
    margin-right: 0.5rem;
}
.payment-icon {
    width: 32px;
    height: 32px;
    margin-left: 0.5rem;
}
.footer-link {
    color: #868686;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    transition: all .2s;
}
.footer-link:hover {
    color: #000;
}
.newsletter-input {
    display: flex;
    align-items: center;
}
.newsletter-input input {
    font-size: 12px;
    padding: 10px 20px;
    min-width: 248px;
    line-height: 25px;
    background-color: #f1f1f1;
    color: #868686;
    border: none;
    outline: none;
}
.ft-social-icons a svg {
    fill: rgb(203 32 39);
    width: 16px;
    height: 16px;
}
.ft-social-icons::before {
    content: '';
    display: none;
}
.col h3 {
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    color: #222222;
    margin-bottom: 24px;
}
.btn-new-letter-submit {
    background-color: #000000;
    color: #ffffff;
    min-width: 77px;
    line-height: 24px;
    border: none;
    border-radius: 5px;
    padding: 11px 30px;
    font-size: 10px;
    transition: all .2s;
}
.btn-new-letter-submit:hover {
    opacity: 50%;
}
.plane-svg {
    fill: #ffffff;
    width: 22px;
    height: 23px;
}
.footer-bottom-row {
    height: 61px;
    display: flex;
    align-items: center;
}
.footer-bottom-col {
    width: 100%;
    height: 100%;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 14px;
    display: flex;
    align-items: center;
}
.footer-bottom-col ul li {
    position: relative;
}
.footer-bottom-col ul li a {
    color: #000000; 
}
.footer-bottom-col ul li:not(:last-child) {
    margin-inline-end: 15px;
}
.footer-bottom-col ul li:not(:last-child):after {
    width: 1px;
    height: 18px;
    content: "";
    display: inline-block;
    vertical-align: middle;
    border-inline-end: solid 1px #e6e6e6;
    margin: auto;
    position: absolute;
    z-index: 1;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}